h2 {
    color: whitesmoke
}
html {
    background-image: url(https://www.rushbet.co/blog/wp-content/uploads/2019/09/shutterstock_569301181-1-1170x730.jpg);
    background-size: 100% 100%;
}
li {
    color: wheat;
    font-size: x-large;
}
ol {
    color: whitesmoke;
    font-size: x-large;
}
h2 {
    color: whitesmoke;
}


#Dados {

    height: 170px;
}

#Apuesta {
    background-color:red;
}

.cuadro{

    border: 1px solid blue;
    height: 80px;
    width: 80px;
    float: left;
    margin-left: 30px;
    background-color:yellowgreen;

}

#divRespuesta {
    background-color: white;
    height: 80px;
}
